<style>



    #nav0{
        /*border: 1px solid black;*/
        border-radius: 50px;
        background-color: rgb(124, 175, 242);
        display: flex;
        flex-direction: row;
        gap: 1%;
    }


    .nav-el:hover{
        background-color:  rgb(63, 138, 236);
        border-radius: 100px;
        padding: 5px;}

</style>

<footer>
        <!-- Footer -->

        <div class="lg:mb-5 py-3 uk-link-reset" id="nav0">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <div class="flex space-x-2 text-gray-700 uppercase">
                    <a href="/" class="nav-el"> About</a>
                    <a href="#"class="nav-el"> Help</a>
                    <a href="#"class="nav-el"> Terms</a>
                    <a href="#"class="nav-el"> Privacy</a>

                <p class="capitalize"> © copyright 2020 by socol</p>
        </div>

    </div>



</footer>