<!-- useless.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% extends 'Base.html'  %}
{% block content %}

</head>
<body>



        <br>
        {% if number < 1 %}
        <h1> => ValErr : number must be > 0 </h1>
        {% else %}
        {%  for i in  N  %}
        <h1>{{ text }}</h1>
        <hr>

        {% endfor %}
        <h1> => {{ number }} ::>> {{N }}</h1>
        {% endif  %}

</body>
</html>
{% endblock content %}
